*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e16331;
}
.main{
    width: 100%;
    height: 400px;
    background-image: url(./img/bg.jpe);
    background-position: left;
    background-size: cover;
    position: relative;
    border: solid 5px black;
    .main-player{
        background-image: url(./img/mainPlayer.png);
        background-position: center;
        background-size: cover;
        position: absolute;
        z-index: 1;
        bottom: 60px;
        left: 0;
        width: 100px;
        height: 100px;
    }
}
.bullet{
    width: 10px;
    height: 5px;
    background-color: red;
    border-radius: 0 50% 50% 0;
    border: solid 1px white;
    position: absolute;
}
.zombie1{
    width: 70px;
    height: 120px;
    background-image: url(./img/zombie-1.png);
    background-position: center;
    background-size: cover;
    position: absolute;
}
.zombie2{
    width: 70px;
    height: 120px;
    background-image: url(./img/zombie-2.png);
    background-position: center;
    background-size: cover;
    position: absolute;
}